.poppin {
  font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
}

.container{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-right:15%;
  margin-left: 15%;
  margin-bottom: 0%;
}

.subbox {
  text-align: center;
  padding-left: 35%;
}

.top {
  padding-top: 5%;
}

.leftcontainer {
  padding-left: 10%;
  padding-top: 0%;
  padding-right: 30%;
  position: absolute;
  bottom: 10;
  width: 50%;
}

.rightcontainer {
  text-align: right;
  padding-top: 10%;
  padding-right: 25%;
  padding-left: 50%;
}

h1 {
    color: #ffffff;
}

h2 {
    font-size: 3em;
    color:#ff0000;

}

h3 {
    font-size: 2em;
    color: #000000;
}

.main {
    margin-bottom: 15%;
  }
  .floating-menu {
    background: #ff0000;
    padding: 5px;;
    width: 100%;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3,
  .floating-menu h1,
  .floating-menu h5 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .footer {
    width: 100%;
    background-color:#000000;
    position: relative;
    right: 0;
    bottom: 0;
    height: 100px;
    margin-top: 0%;
  }
